{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
      {% block title %}
        Wayne Stitches
      {% endblock %}
  </title>
  
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
    <body>
    <nav>
      <ul>
        <li><a href={% url 'home' %}>Home</a> </li>
        <li><a href={% url 'about' %}>About</a></li>
        <li><a href={% url 'contact' %}>Contact</a></li>
        {% if user.is_authenticated %}
          <li><a href={% url 'order:cart' %}>Cart</a></li>
          <li><a href={% url 'user:profile' %}>Profile</a></li>
        {% endif %}
      </ul>
    </nav>
      {% block content %}
      {% endblock %}
    </body>
</html>