{% extends 'layout.html' %}
{% load humanize %}

{% block title %}
    {{category.name}}
{% endblock %}

{% block content %}
        <div class="grid_block">
            {% for product in products %}
                <div class="card">
                    <a href= "{% url 'store:product_page' slug=product.slug %}">
                        <img class='prodimg' src={{product.image.url}} alt={{product.name}}>
                        <h4 class="prod_name">{{product.name}}</h4>
                    </a>
                    <p class= "prod_price">₦ {{product.price|intcomma}}</p>
                </div>
            {% endfor %}
{% endblock %}